/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'ralewayextrabold';
  src: url("../fonts/raleway-extrabold-webfont.eot");
  src: url("../fonts/raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extrabold-webfont.woff") format("woff"), url("../fonts/raleway-extrabold-webfont.ttf") format("truetype"), url("../fonts/raleway-extrabold-webfont.svg#ralewayextrabold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 1, ../sass/_grid.scss */
.grid12, .grid8, .grid6, .hero-spacer, .hero-text-container, .features-block, .grid4, .grid-block, .home-block, .grid3, .pricing-block, .pricing-block-best {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }

/* line 19, ../sass/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin: 24px auto;
  max-width: 960px; }

@media (min-width: 960px) {
  /* line 25, ../sass/_grid.scss */
  .grid12 {
    width: 100%; } }

@media (min-width: 960px) {
  /* line 26, ../sass/_grid.scss */
  .grid8 {
    width: 66.66667%; } }

@media (min-width: 960px) {
  /* line 27, ../sass/_grid.scss */
  .grid6, .hero-spacer, .hero-text-container, .features-block {
    width: 50%; } }

@media (min-width: 960px) {
  /* line 28, ../sass/_grid.scss */
  .grid4, .grid-block, .home-block {
    width: 33.33333%; } }

@media (min-width: 500px) {
  /* line 29, ../sass/_grid.scss */
  .grid3, .pricing-block, .pricing-block-best {
    width: 50%; } }
@media (min-width: 960px) {
  /* line 29, ../sass/_grid.scss */
  .grid3, .pricing-block, .pricing-block-best {
    width: 25%; } }

/* line 32, ../sass/_grid.scss */
.container, .section-header, .hero-image, .sign-up-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 24px 10px; }

/* line 1, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

/* line 6, ../sass/_base.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 11, ../sass/_base.scss */
input {
  margin: 0; }

/* line 15, ../sass/_base.scss */
html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Georgia", serif;
  color: #4b4d4d;
  padding-top: 48px;
  -webkit-font-smoothing: antialiased; }

/* line 25, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ralewayextrabold", sans-serif;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase; }
  /* line 30, ../sass/_base.scss */
  h1 .num, h2 .num, h3 .num, h4 .num, h5 .num, h6 .num {
    font-size: 1.2em;
    line-height: .75; }

/* line 36, ../sass/_base.scss */
h1 {
  font-size: 48px; }

/* line 40, ../sass/_base.scss */
strong {
  font-weight: bold; }

/* line 44, ../sass/_base.scss */
em {
  font-style: italic; }

/* line 70, ../sass/_base.scss */
.subheader, .sub-subheader {
  font-family: "Georgia", serif;
  text-transform: none;
  font-style: italic;
  font-size: 28.8px;
  line-height: 48px; }

/* line 78, ../sass/_base.scss */
.sub-subheader {
  font-size: 24px; }

/* line 83, ../sass/_base.scss */
.page-content, .rights-content, #secure, #share, .features-section-alt {
  background-image: url('../img/bg/denim.png?1360887218');
  background-size: 147px 147px; }

/* line 88, ../sass/_base.scss */
.page-header, .rights-header, .page-content, .rights-content, .home-section, .features-header, .features-section, .features-section-alt {
  padding: 72px 0 24px;
  border-bottom: 2px solid #c1c1c1; }

/* line 93, ../sass/_base.scss */
.grid-block, .home-block {
  text-align: center;
  margin-bottom: 24px;
  padding-top: 24px; }
  /* line 98, ../sass/_base.scss */
  .grid-block p, .home-block p {
    font-style: italic;
    margin-top: 24px; }
  /* line 102, ../sass/_base.scss */
  .grid-block img, .home-block img {
    width: 225px;
    height: auto; }
  @media (min-width: 500px) {
    /* line 93, ../sass/_base.scss */
    .grid-block, .home-block {
      overflow: hidden;
      *zoom: 1; }
      /* line 108, ../sass/_base.scss */
      .grid-block .image-container, .home-block .image-container, .grid-block p, .home-block p {
        width: 50%;
        float: left; }
      /* line 112, ../sass/_base.scss */
      .grid-block .image-container, .home-block .image-container {
        padding-left: 2em;
        height: 192px; }
        /* line 115, ../sass/_base.scss */
        .grid-block .image-container img, .home-block .image-container img {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -112px; }
      /* line 122, ../sass/_base.scss */
      .grid-block p, .home-block p {
        width: 50%;
        padding: 48px 0; } }
  @media (min-width: 960px) {
    /* line 128, ../sass/_base.scss */
    .grid-block .image-container, .home-block .image-container, .grid-block p, .home-block p {
      width: auto;
      float: none;
      padding: 0; } }

/* line 144, ../sass/_base.scss */
.pricing-block p:first-child:after, .pricing-block-best p:first-child:after, .features-section .section-header:after, .features-section-alt .section-header:after {
  content: "";
  display: block;
  border-top: 1px solid #4b4d4d;
  border-bottom: 1px dotted #4b4d4d;
  padding: 2px 0; }

/* line 2, ../sass/_header.scss */
body:before {
  position: fixed;
  width: 100%;
  top: 0;
  content: "";
  background-color: #65bbe2;
  height: 4px;
  display: block;
  z-index: 11; }

/* line 14, ../sass/_header.scss */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding-top: 16px;
  z-index: 10;
  background-color: #f5f6f6;
  border-bottom: 2px solid #c1c1c1;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s; }
  /* line 25, ../sass/_header.scss */
  .site-header.condensed {
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    transform: translateY(-22px); }

/* line 30, ../sass/_header.scss */
.header-logo {
  margin-top: -19px;
  float: left; }
  /* line 33, ../sass/_header.scss */
  .header-logo img {
    height: 90px; }

/* line 36, ../sass/_header.scss */
.site-nav {
  font-weight: lighter;
  float: right;
  font-family: sans-serif;
  text-transform: uppercase;
  display: none; }
  @media (min-width: 960px) {
    /* line 36, ../sass/_header.scss */
    .site-nav {
      display: block; } }
  /* line 45, ../sass/_header.scss */
  .site-nav a {
    display: inline-block;
    padding: 0 12px 10px;
    line-height: 1; }
    /* line 49, ../sass/_header.scss */
    .site-nav a.current {
      color: #65bbe2;
      border-bottom: 2px solid #4b4d4d; }

/* line 56, ../sass/_header.scss */
.login {
  position: absolute;
  top: -14px;
  right: 34px;
  font-family: "ralewayextrabold", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #65bbe2;
  color: white;
  padding: 0 10px; }

/* line 1, ../sass/_footer.scss */
.site-footer {
  background-color: #444444;
  color: white;
  padding: 24px 0 48px; }

/* line 8, ../sass/_footer.scss */
.footer-form {
  float: left;
  min-width: 50%;
  margin-bottom: 24px; }
  /* line 11, ../sass/_footer.scss */
  .footer-form h3 {
    font-size: 16px;
    height: 24px; }
  /* line 15, ../sass/_footer.scss */
  .footer-form input {
    height: 24px;
    display: block;
    line-height: 24px;
    float: left;
    font-size: 12px; }
  /* line 23, ../sass/_footer.scss */
  .footer-form input[type="submit"] {
    border: none;
    background-color: #65bbe2;
    color: white;
    padding: 0 10px;
    font-family: "ralewayextrabold", sans-serif;
    text-transform: uppercase;
    margin-left: 10px; }

/* line 35, ../sass/_footer.scss */
.footer-logo {
  float: right; }

/* line 39, ../sass/_footer.scss */
.footer-legal {
  clear: both;
  border-top: 2px solid #c1c1c1;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 24px;
  font-size: 12px; }
  /* line 47, ../sass/_footer.scss */
  .footer-legal .contact {
    float: right; }

/* line 2, ../sass/_front_page.scss */
.home-section {
  overflow: hidden; }
  /* line 5, ../sass/_front_page.scss */
  .home-section .section-header {
    padding-right: 150px; }

/* line 12, ../sass/_front_page.scss */
.section-header h1 {
  font-size: 40.8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #4b4d4d;
  margin-bottom: 4px; }
  /* line 18, ../sass/_front_page.scss */
  .section-header h1:after {
    content: "►";
    position: absolute;
    font-size: .5em;
    line-height: 36px;
    padding: 5px; }
/* line 27, ../sass/_front_page.scss */
.section-header p {
  font-size: 1.2em;
  padding-top: 8px;
  line-height: 24px;
  font-style: italic;
  border-top: 1px dotted #4b4d4d; }
/* line 34, ../sass/_front_page.scss */
.section-header .signup-stamp {
  position: absolute;
  top: 13px;
  right: 0;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  -webkit-transition-delay: 2s;
  -moz-transition: all 1s ease-out 2s;
  -o-transition: all 1s ease-out 2s;
  transition: all 1s ease-out 2s;
  height: 120px;
  width: 120px;
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5); }

/* line 46, ../sass/_front_page.scss */
.current .signup-stamp {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

@media (min-width: 500px) {
  /* line 55, ../sass/_front_page.scss */
  .home-block .image-container, .home-block img {
    height: 225px; } }
/* line 61, ../sass/_front_page.scss */
.home-block:before {
  content: "";
  position: absolute;
  width: 33%;
  top: 0;
  left: 33%;
  border-top: 1px solid #4b4d4d; }
  @media (min-width: 960px) {
    /* line 61, ../sass/_front_page.scss */
    .home-block:before {
      width: 0;
      height: 33%;
      top: 33%;
      left: 0;
      border-left: 1px solid #4b4d4d; } }
/* line 76, ../sass/_front_page.scss */
.home-block:first-child:before {
  display: none; }

/* line 81, ../sass/_front_page.scss */
.banner {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 24px;
  font-style: italic;
  color: white;
  background-color: #65bbe2;
  padding: 12px 24px 12px 10px;
  -webkit-transform: translateX(120%);
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }
  /* line 92, ../sass/_front_page.scss */
  .banner:before, .banner:after {
    content: "";
    position: absolute;
    left: -24px;
    border-left: 24px solid transparent; }
  /* line 98, ../sass/_front_page.scss */
  .banner:before {
    top: 0;
    border-top: 24px solid #65bbe2; }
  /* line 102, ../sass/_front_page.scss */
  .banner:after {
    bottom: 0;
    border-bottom: 24px solid #65bbe2; }

/* line 108, ../sass/_front_page.scss */
.current .banner {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

/* line 113, ../sass/_front_page.scss */
.next-tab, .back-to-top {
  background-repeat: no-repeat;
  position: fixed;
  bottom: -35px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 70px;
  cursor: pointer;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 100;
  opacity: .6; }
  /* line 127, ../sass/_front_page.scss */
  .sticky.next-tab, .sticky.back-to-top {
    position: absolute; }

/* line 132, ../sass/_front_page.scss */
.next-tab {
  background-image: url('../img/nav_down_gray.png?1361497584'); }
  /* line 135, ../sass/_front_page.scss */
  .next-tab.white {
    background-image: url('../img/nav_down_white.png?1361497584'); }

/* line 140, ../sass/_front_page.scss */
.back-to-top {
  background-image: url('../img/nav_up_gray.png?1361497584'); }

/* line 146, ../sass/_front_page.scss */
.current .next-tab, .current .back-to-top {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0); }

/* line 153, ../sass/_front_page.scss */
#hero {
  margin: 0;
  padding: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: -moz-linear-gradient(#ffffff, #cccccc);
  background: -o-linear-gradient(#ffffff, #cccccc);
  background: linear-gradient(#ffffff, #cccccc);
  background-size: cover; }
  @media (min-width: 960px) {
    /* line 160, ../sass/_front_page.scss */
    #hero .row {
      top: 50%;
      margin-top: -200px; } }

/* line 168, ../sass/_front_page.scss */
.hero-image {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 72px; }
  @media (min-width: 960px) {
    /* line 168, ../sass/_front_page.scss */
    .hero-image {
      top: 50%;
      margin-top: -240px;
      left: 50%;
      margin-left: -480px; } }
  /* line 180, ../sass/_front_page.scss */
  .hero-image img {
    position: absolute; }

/* line 185, ../sass/_front_page.scss */
.hero-spacer {
  float: right;
  height: 480px; }

/* line 191, ../sass/_front_page.scss */
.hero-tv {
  top: 0;
  right: 0;
  -webkit-transform: translate(0, -2000px);
  -moz-transform: translate(0, -2000px);
  -ms-transform: translate(0, -2000px);
  -o-transform: translate(0, -2000px);
  transform: translate(0, -2000px);
  -webkit-transition: 0.7s ease-in;
  -moz-transition: 0.7s ease-in;
  -o-transition: 0.7s ease-in;
  transition: 0.7s ease-in; }

/* line 198, ../sass/_front_page.scss */
.hero-ipad {
  top: 96px;
  right: 405px;
  -webkit-transform: translate(0, 2000px);
  -moz-transform: translate(0, 2000px);
  -ms-transform: translate(0, 2000px);
  -o-transform: translate(0, 2000px);
  transform: translate(0, 2000px);
  -webkit-transition: 0.7s ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: 0.7s ease-in 0.2s;
  -o-transition: 0.7s ease-in 0.2s;
  transition: 0.7s ease-in 0.2s; }

/* line 205, ../sass/_front_page.scss */
.hero-iphone {
  top: 216px;
  right: 520px;
  -webkit-transform: translate(0, -2000px);
  -moz-transform: translate(0, -2000px);
  -ms-transform: translate(0, -2000px);
  -o-transform: translate(0, -2000px);
  transform: translate(0, -2000px);
  -webkit-transition: 0.7s ease-in;
  -webkit-transition-delay: 0.5s;
  -moz-transition: 0.7s ease-in 0.5s;
  -o-transition: 0.7s ease-in 0.5s;
  transition: 0.7s ease-in 0.5s; }

/* line 212, ../sass/_front_page.scss */
.hero-macbook {
  top: 144px;
  right: 130px;
  -webkit-transform: translate(0, 2000px);
  -moz-transform: translate(0, 2000px);
  -ms-transform: translate(0, 2000px);
  -o-transform: translate(0, 2000px);
  transform: translate(0, 2000px);
  -webkit-transition: 0.7s ease-in;
  -webkit-transition-delay: 0.7s;
  -moz-transition: 0.7s ease-in 0.7s;
  -o-transition: 0.7s ease-in 0.7s;
  transition: 0.7s ease-in 0.7s; }

/* line 224, ../sass/_front_page.scss */
.active .hero-image img {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

/* line 229, ../sass/_front_page.scss */
.hero-text-container {
  float: right;
  padding: 15px 0; }
  @media (min-width: 960px) {
    /* line 229, ../sass/_front_page.scss */
    .hero-text-container {
      position: absolute;
      left: 0;
      top: 0;
      width: 530px;
      padding-bottom: 240px;
      padding-right: 50px;
      overflow: hidden; } }
  /* line 243, ../sass/_front_page.scss */
  .hero-text-container .hero-text {
    text-align: center;
    width: 340px; }
    /* line 249, ../sass/_front_page.scss */
    .hero-text-container .hero-text .subheader, .hero-text-container .hero-text .sub-subheader {
      line-height: 1;
      margin: 0 auto 8px auto; }
    /* line 253, ../sass/_front_page.scss */
    .hero-text-container .hero-text h1 {
      margin-bottom: 4px; }
  /* line 257, ../sass/_front_page.scss */
  .hero-text-container .sub-subheader {
    font-size: 18px;
    font-weight: normal; }
  /* line 261, ../sass/_front_page.scss */
  .hero-text-container hr {
    border-style: solid none dotted none;
    border-color: #4b4d4d;
    border-width: 1px;
    height: 4px; }

/* line 273, ../sass/_front_page.scss */
.signup-button, .hero-signup-button, .body-signup-button {
  color: white;
  font-family: "ralewayextrabold", sans-serif;
  text-transform: uppercase;
  text-align: left;
  padding: 11px 9px; }

/* line 281, ../sass/_front_page.scss */
.hero-signup-button {
  background-image: url('../img/request_invite_button.png?1361497362');
  display: inline-block;
  height: 43px;
  width: 215px;
  box-shadow: 0 72px 70px -10px #bbbbbb, 0 156px 50px -17px #65bbe2; }

/* line 292, ../sass/_front_page.scss */
.body-signup-button {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/png/pricing/request_an_invite.png?1361492149');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  height: 59px;
  width: 316px;
  margin: 24px auto 48px; }

/* line 303, ../sass/_front_page.scss */
#pricing {
  padding-bottom: 60px; }

/* line 307, ../sass/_front_page.scss */
#pricing .section-header {
  padding-right: 0; }

/* line 311, ../sass/_front_page.scss */
.pricing-block, .pricing-block-best {
  text-align: center; }
  /* line 316, ../sass/_front_page.scss */
  .pricing-block h1, .pricing-block-best h1, .pricing-block .space, .pricing-block-best .space, .pricing-block .price, .pricing-block-best .price {
    border: 2px solid #c1c1c1;
    margin-bottom: 0; }
  /* line 321, ../sass/_front_page.scss */
  .pricing-block h1, .pricing-block-best h1 {
    font-size: 32px;
    padding: 24px 0;
    background-color: #4b4d4d;
    color: white;
    margin-top: 12px; }
  /* line 329, ../sass/_front_page.scss */
  .pricing-block .space, .pricing-block-best .space, .pricing-block .price, .pricing-block-best .price {
    background: #f7f9f9;
    border-top-style: none; }
  /* line 334, ../sass/_front_page.scss */
  .pricing-block .space, .pricing-block-best .space {
    font-family: sans-serif;
    font-weight: lighter;
    padding: 12px 0; }
  /* line 340, ../sass/_front_page.scss */
  .pricing-block .separator, .pricing-block-best .separator {
    display: block;
    background-color: #f7f9f9;
    font-family: "Georgia", serif;
    font-weight: bold;
    font-style: italic;
    margin: 0 10px; }
    /* line 347, ../sass/_front_page.scss */
    .pricing-block .separator:before, .pricing-block-best .separator:before, .pricing-block .separator:after, .pricing-block-best .separator:after {
      content: "";
      border-bottom: 1px dotted #4b4d4d;
      position: absolute;
      width: 40%;
      top: 50%; }
    /* line 354, ../sass/_front_page.scss */
    .pricing-block .separator:before, .pricing-block-best .separator:before {
      left: 0; }
    /* line 357, ../sass/_front_page.scss */
    .pricing-block .separator:after, .pricing-block-best .separator:after {
      right: 0; }
  /* line 362, ../sass/_front_page.scss */
  .pricing-block p, .pricing-block-best p {
    font-size: 30px;
    line-height: 1;
    font-style: italic;
    font-weight: bold;
    margin: 0 10px;
    padding: 24px 0; }
    /* line 369, ../sass/_front_page.scss */
    .pricing-block p:first-child:after, .pricing-block-best p:first-child:after {
      position: absolute;
      width: 100%;
      bottom: 0; }

/* line 380, ../sass/_front_page.scss */
.pricing-block-best h1 {
  margin-top: 0;
  background-color: #65bbe2; }
/* line 384, ../sass/_front_page.scss */
.pricing-block-best .space {
  padding-bottom: 24px; }
/* line 387, ../sass/_front_page.scss */
.pricing-block-best .price {
  padding-bottom: 12px; }

/* line 405, ../sass/_front_page.scss */
#secure .private img {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s; }

/* line 408, ../sass/_front_page.scss */
#private-curtain1 {
  -webkit-transform-origin: 24px 50%;
  -moz-transform-origin: 24px 50%;
  -ms-transform-origin: 24px 50%;
  -o-transform-origin: 24px 50%;
  transform-origin: 24px 50%; }

/* line 411, ../sass/_front_page.scss */
#private-curtain2 {
  margin-left: -31px;
  -webkit-transform-origin: 53% 50%;
  -moz-transform-origin: 53% 50%;
  -ms-transform-origin: 53% 50%;
  -o-transform-origin: 53% 50%;
  transform-origin: 53% 50%; }

/* line 415, ../sass/_front_page.scss */
#private-curtain1, #private-curtain2 {
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  transform: scaleX(0.5); }

/* line 419, ../sass/_front_page.scss */
#private-hook1 {
  -webkit-transform: translateX(-6%);
  -moz-transform: translateX(-6%);
  -ms-transform: translateX(-6%);
  -o-transform: translateX(-6%);
  transform: translateX(-6%); }

/* line 422, ../sass/_front_page.scss */
#private-hook2 {
  margin-left: -90px;
  -webkit-transform: translateX(-12%);
  -moz-transform: translateX(-12%);
  -ms-transform: translateX(-12%);
  -o-transform: translateX(-12%);
  transform: translateX(-12%); }

/* line 426, ../sass/_front_page.scss */
#private-hook3 {
  margin-left: -67px;
  -webkit-transform: translateX(-18%);
  -moz-transform: translateX(-18%);
  -ms-transform: translateX(-18%);
  -o-transform: translateX(-18%);
  transform: translateX(-18%); }

/* line 430, ../sass/_front_page.scss */
#private-hook4 {
  margin-left: -32px;
  -webkit-transform: translateX(18%);
  -moz-transform: translateX(18%);
  -ms-transform: translateX(18%);
  -o-transform: translateX(18%);
  transform: translateX(18%); }

/* line 434, ../sass/_front_page.scss */
#private-hook5 {
  margin-left: -8px;
  -webkit-transform: translateX(12%);
  -moz-transform: translateX(12%);
  -ms-transform: translateX(12%);
  -o-transform: translateX(12%);
  transform: translateX(12%); }

/* line 438, ../sass/_front_page.scss */
#private-hook6 {
  margin-left: 16px;
  -webkit-transform: translateX(6%);
  -moz-transform: translateX(6%);
  -ms-transform: translateX(6%);
  -o-transform: translateX(6%);
  transform: translateX(6%); }

/* line 444, ../sass/_front_page.scss */
.current #private-curtain1, .current #private-curtain2 {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1); }
/* line 449, ../sass/_front_page.scss */
.current #private-hook1, .current #private-hook2, .current #private-hook3,
.current #private-hook4, .current #private-hook5, .current #private-hook6 {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

/* line 454, ../sass/_front_page.scss */
#secure-lock {
  -webkit-transition: -webkit-transform 1s;
  -webkit-transition-delay: 1s;
  -moz-transition: -moz-transform 1s 1s;
  -o-transition: -o-transform 1s 1s;
  transition: transform 1s false 1s;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -o-transform: translateY(-25px);
  transform: translateY(-25px); }

/* line 459, ../sass/_front_page.scss */
.current #secure-lock {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

@-webkit-keyframes clockspin {
  /* line 464, ../sass/_front_page.scss */
  25% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 467, ../sass/_front_page.scss */
  100% {
    -webkit-transform: rotate(1440deg);
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -o-transform: rotate(1440deg);
    transform: rotate(1440deg); } }

@-moz-keyframes clockspin {
  /* line 464, ../sass/_front_page.scss */
  25% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 467, ../sass/_front_page.scss */
  100% {
    -webkit-transform: rotate(1440deg);
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -o-transform: rotate(1440deg);
    transform: rotate(1440deg); } }

@-o-keyframes clockspin {
  /* line 464, ../sass/_front_page.scss */
  25% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 467, ../sass/_front_page.scss */
  100% {
    -webkit-transform: rotate(1440deg);
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -o-transform: rotate(1440deg);
    transform: rotate(1440deg); } }

@keyframes clockspin {
  /* line 464, ../sass/_front_page.scss */
  25% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

  /* line 467, ../sass/_front_page.scss */
  100% {
    -webkit-transform: rotate(1440deg);
    -moz-transform: rotate(1440deg);
    -ms-transform: rotate(1440deg);
    -o-transform: rotate(1440deg);
    transform: rotate(1440deg); } }

@-webkit-keyframes clicker {
  /* line 472, ../sass/_front_page.scss */
  20%, 30%, 90% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

  /* line 475, ../sass/_front_page.scss */
  25%, 95% {
    -webkit-transform: translate(-6px, 6px);
    -moz-transform: translate(-6px, 6px);
    -ms-transform: translate(-6px, 6px);
    -o-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px); } }

@-moz-keyframes clicker {
  /* line 472, ../sass/_front_page.scss */
  20%, 30%, 90% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

  /* line 475, ../sass/_front_page.scss */
  25%, 95% {
    -webkit-transform: translate(-6px, 6px);
    -moz-transform: translate(-6px, 6px);
    -ms-transform: translate(-6px, 6px);
    -o-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px); } }

@-o-keyframes clicker {
  /* line 472, ../sass/_front_page.scss */
  20%, 30%, 90% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

  /* line 475, ../sass/_front_page.scss */
  25%, 95% {
    -webkit-transform: translate(-6px, 6px);
    -moz-transform: translate(-6px, 6px);
    -ms-transform: translate(-6px, 6px);
    -o-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px); } }

@keyframes clicker {
  /* line 472, ../sass/_front_page.scss */
  20%, 30%, 90% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }

  /* line 475, ../sass/_front_page.scss */
  25%, 95% {
    -webkit-transform: translate(-6px, 6px);
    -moz-transform: translate(-6px, 6px);
    -ms-transform: translate(-6px, 6px);
    -o-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px); } }

/* line 480, ../sass/_front_page.scss */
#efficient-hand {
  -webkit-transform-origin: 50% 149px;
  -moz-transform-origin: 50% 149px;
  -ms-transform-origin: 50% 149px;
  -o-transform-origin: 50% 149px;
  transform-origin: 50% 149px; }

/* line 484, ../sass/_front_page.scss */
.current #efficient-hand {
  -webkit-animation: clockspin 3s linear 1s;
  -moz-animation: clockspin 3s linear 1s;
  -o-animation: clockspin 3s linear 1s;
  animation: clockspin 3s linear 1s; }

/* line 488, ../sass/_front_page.scss */
.current #efficient-clicker {
  -webkit-animation: clicker 3s false 1s;
  -moz-animation: clicker 3s false 1s;
  -o-animation: clicker 3s false 1s;
  animation: clicker 3s false 1s; }

/* line 495, ../sass/_front_page.scss */
.reloading-gif {
  display: none; }

/* line 502, ../sass/_front_page.scss */
#lower-mask, #upper-mask {
  position: absolute;
  height: 57px;
  width: 114px;
  overflow: hidden; }
  /* line 508, ../sass/_front_page.scss */
  #lower-mask img, #upper-mask img {
    position: absolute;
    height: auto;
    width: auto;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0; }

/* line 521, ../sass/_front_page.scss */
#upper-mask {
  top: 16px;
  left: 116px; }
  /* line 524, ../sass/_front_page.scss */
  #upper-mask .share-car {
    -webkit-transition: -webkit-transform 1.5s;
    -webkit-transition-delay: 3s;
    -moz-transition: -moz-transform 1.5s 3s;
    -o-transition: -o-transform 1.5s 3s;
    transition: transform 1.5s false 3s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }

/* line 530, ../sass/_front_page.scss */
#lower-mask {
  top: 151px;
  left: 69px; }
  /* line 533, ../sass/_front_page.scss */
  #lower-mask .share-car {
    -webkit-transition: -webkit-transform 1.5s;
    -webkit-transition-delay: 2s;
    -moz-transition: -moz-transform 1.5s 2s;
    -o-transition: -o-transform 1.5s 2s;
    transition: transform 1.5s false 2s; }

/* line 540, ../sass/_front_page.scss */
.current #upper-mask .share-car {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
/* line 543, ../sass/_front_page.scss */
.current #lower-mask .share-car {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }

@-webkit-keyframes remote {
  /* line 549, ../sass/_front_page.scss */
  0%, 30%, 70%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  /* line 552, ../sass/_front_page.scss */
  15%, 85% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px); } }

@-moz-keyframes remote {
  /* line 549, ../sass/_front_page.scss */
  0%, 30%, 70%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  /* line 552, ../sass/_front_page.scss */
  15%, 85% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px); } }

@-o-keyframes remote {
  /* line 549, ../sass/_front_page.scss */
  0%, 30%, 70%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  /* line 552, ../sass/_front_page.scss */
  15%, 85% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px); } }

@keyframes remote {
  /* line 549, ../sass/_front_page.scss */
  0%, 30%, 70%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

  /* line 552, ../sass/_front_page.scss */
  15%, 85% {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px); } }

/* line 557, ../sass/_front_page.scss */
.current #control-button {
  -webkit-animation: remote 1s linear 2s;
  -moz-animation: remote 1s linear 2s;
  -o-animation: remote 1s linear 2s;
  animation: remote 1s linear 2s; }

/* line 561, ../sass/_front_page.scss */
.collect-cd {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform: translateY(-300px);
  -moz-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  -o-transform: translateY(-300px);
  transform: translateY(-300px); }

/* line 566, ../sass/_front_page.scss */
.cd-1 {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }

/* line 567, ../sass/_front_page.scss */
.cd-2 {
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }

/* line 568, ../sass/_front_page.scss */
.cd-3 {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s; }

/* line 569, ../sass/_front_page.scss */
.cd-4 {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

/* line 573, ../sass/_front_page.scss */
.home-block .image-container .cd-2, .home-block .image-container .cd-4 {
  margin-left: -16px; }
/* line 576, ../sass/_front_page.scss */
.home-block .image-container .cd-3, .home-block .image-container .cd-4 {
  margin-top: -61px; }

/* line 581, ../sass/_front_page.scss */
.current .collect-cd {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px); }

/* line 1, ../sass/_rights.scss */
.rights-header {
  background-image: url('../img/rights/banner.png?1360885822');
  background-repeat: no-repeat;
  background-position: center 50px;
  padding: 120px 0 85px 75px;
  padding-bottom: 85px;
  color: white; }
  /* line 9, ../sass/_rights.scss */
  .rights-header .subheader, .rights-header .sub-subheader {
    font-size: 43px; }
  /* line 13, ../sass/_rights.scss */
  .rights-header h1 {
    font-size: 64px; }

/* line 18, ../sass/_rights.scss */
.rights-content {
  padding-top: 10px; }

/* line 1, ../sass/_features.scss */
.features-section .section-header h1, .features-section-alt .section-header h1, .features-section .section-header h2, .features-section-alt .section-header h2, .features-section .row, .features-section-alt .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px; }

/* line 7, ../sass/_features.scss */
.features-header {
  text-align: center;
  padding-top: 24px; }
  /* line 11, ../sass/_features.scss */
  .features-header h1 {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../img/Features_Header_trimmed.png?1361994155');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 120px;
    background-size: contain; }
    @media (min-width: 500px) {
      /* line 11, ../sass/_features.scss */
      .features-header h1 {
        height: 192px; } }
    @media (min-width: 960px) {
      /* line 11, ../sass/_features.scss */
      .features-header h1 {
        height: 240px; } }

/* line 24, ../sass/_features.scss */
.features-section, .features-section-alt {
  padding-top: 24px; }
  /* line 28, ../sass/_features.scss */
  .features-section .section-header h1, .features-section-alt .section-header h1, .features-section .section-header h2, .features-section-alt .section-header h2 {
    border: none;
    padding: 0 10px; }
    /* line 32, ../sass/_features.scss */
    .features-section .section-header h1:after, .features-section-alt .section-header h1:after, .features-section .section-header h2:after, .features-section-alt .section-header h2:after {
      display: none; }
  /* line 44, ../sass/_features.scss */
  .features-section p, .features-section-alt p {
    font-family: sans-serif;
    font-weight: lighter;
    margin-bottom: 24px;
    line-height: 1.3;
    padding-right: 30px; }
  /* line 51, ../sass/_features.scss */
  .features-section .summary, .features-section-alt .summary {
    font-weight: bold;
    font-style: italic;
    font-family: "Georgia", serif; }

/* line 61, ../sass/_features.scss */
.features-section-alt .features-block {
  float: left; }

/* line 67, ../sass/_features.scss */
.features-block {
  float: right; }
  /* line 70, ../sass/_features.scss */
  .features-block img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }

/* line 77, ../sass/_features.scss */
.request-invite {
  background-color: #65bbe2;
  color: white;
  margin: 0 auto;
  max-width: 1160px;
  text-align: center; }

/* line 89, ../sass/_features.scss */
.sign-up {
  display: block;
  height: 120px;
  width: 160px;
  margin: 0 auto;
  background-color: white;
  text-align: center; }
