/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype"), url("../fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* line 28, ../sass/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin: 24px auto;
  max-width: 1200px; }

/* line 29, ../sass/_grid.scss */
.grid12 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid12 img {
    width: 100%; }
  @media (min-width: 900px) {
    /* line 29, ../sass/_grid.scss */
    .grid12 {
      width: 100%; } }

/* line 30, ../sass/_grid.scss */
.grid8 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid8 img {
    width: 100%; }
  @media (min-width: 900px) {
    /* line 30, ../sass/_grid.scss */
    .grid8 {
      width: 66.66667%; } }

/* line 31, ../sass/_grid.scss */
.grid6 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid6 img {
    width: 100%; }
  @media (min-width: 900px) {
    /* line 31, ../sass/_grid.scss */
    .grid6 {
      width: 50%; } }

/* line 32, ../sass/_grid.scss */
.grid4 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid4 img {
    width: 100%; }
  @media (min-width: 900px) {
    /* line 32, ../sass/_grid.scss */
    .grid4 {
      width: 33.33333%; } }

/* line 33, ../sass/_grid.scss */
.grid3 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid3 img {
    width: 100%; }
  @media (min-width: 500px) {
    /* line 33, ../sass/_grid.scss */
    .grid3 {
      width: 50%; } }
  @media (min-width: 900px) {
    /* line 33, ../sass/_grid.scss */
    .grid3 {
      width: 25%; } }

/* line 36, ../sass/_grid.scss */
.grid12.right-float, .grid8.right-float, .grid6.right-float, .grid4.right-float, .grid3.right-float {
  float: right; }

/* line 40, ../sass/_grid.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px 10px; }

/* line 32, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

/* line 37, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 42, ../sass/style.scss */
input {
  margin: 0; }

/* line 46, ../sass/style.scss */
html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Georgia", serif;
  color: #442222;
  padding-top: 72px; }

/* line 54, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "ralewaybold", "Comic Sans MS", sans-serif;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase; }

/* line 61, ../sass/style.scss */
h1 {
  font-size: 48px; }

/* line 67, ../sass/style.scss */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 10;
  background-color: #f5f6f6;
  border-bottom: 2px solid #cccccc;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s; }
  /* line 77, ../sass/style.scss */
  .site-header .container {
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    -o-transition: padding 0.5s;
    transition: padding 0.5s; }
  /* line 80, ../sass/style.scss */
  .site-header.condensed {
    height: 72px; }
    /* line 82, ../sass/style.scss */
    .site-header.condensed .container {
      padding-top: 0; }
  /* line 86, ../sass/style.scss */
  .site-header:before {
    content: "";
    background-color: #6699cc;
    height: 12px;
    display: block;
    border-bottom: 4px solid #442222; }

/* line 95, ../sass/style.scss */
.header-logo {
  float: left; }

/* line 99, ../sass/style.scss */
.site-nav {
  margin-top: 24px;
  font-weight: lighter;
  float: right;
  font-family: sans-serif;
  text-transform: uppercase;
  display: none; }
  @media (min-width: 900px) {
    /* line 99, ../sass/style.scss */
    .site-nav {
      display: block; } }
  /* line 109, ../sass/style.scss */
  .site-nav a {
    display: inline-block;
    padding: 0 2em 10px;
    line-height: 1; }
    /* line 113, ../sass/style.scss */
    .site-nav a.current {
      color: #6699cc;
      border-bottom: 2px solid #442222; }

/* line 121, ../sass/style.scss */
.page-nav {
  position: fixed;
  width: 48px;
  right: 0;
  top: 50%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8); }
  /* line 128, ../sass/style.scss */
  .page-nav a {
    background-image: url('../img/nav-arrows.png?1360645211');
    background-repeat: no-repeat;
    background-size: 36px 96px;
    width: 48px;
    height: 24px;
    display: block;
    margin: 12px 6px; }
  /* line 137, ../sass/style.scss */
  .page-nav #prev-section {
    background-position: 0 0; }
  /* line 140, ../sass/style.scss */
  .page-nav #next-section {
    background-position: 0 -30px; }
  /* line 143, ../sass/style.scss */
  .page-nav #back-to-top {
    background-position: 0 -55px;
    height: 48px; }

/* line 151, ../sass/style.scss */
.hero-image {
  z-index: 1;
  height: 432px;
  text-align: center; }
  /* line 155, ../sass/style.scss */
  .hero-image img {
    height: 100%;
    width: auto; }

/* line 161, ../sass/style.scss */
.hero-text-container {
  margin-top: -48px; }
  @media (min-width: 900px) {
    /* line 161, ../sass/style.scss */
    .hero-text-container {
      margin-top: 192px;
      -webkit-transform: translateX(25%);
      -moz-transform: translateX(25%);
      -ms-transform: translateX(25%);
      -o-transform: translateX(25%);
      transform: translateX(25%);
      overflow: hidden; } }
  /* line 169, ../sass/style.scss */
  .hero-text-container .hero-text {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px 0;
    text-align: center; }
    /* line 175, ../sass/style.scss */
    .hero-text-container .hero-text h2 {
      font-family: "Georgia", serif;
      text-transform: none;
      font-style: italic;
      font-size: 28.8px;
      line-height: 48px; }

/* line 185, ../sass/style.scss */
.current .hero-text {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

/* line 189, ../sass/style.scss */
.home-section {
  border-bottom: 2px solid #cccccc;
  padding-top: 72px; }

/* line 194, ../sass/style.scss */
#hero {
  padding: 24px 0;
  background-color: #444444;
  background-size: cover; }

/* line 200, ../sass/style.scss */
.background-video, .background-video img {
  position: absolute;
  top: 0;
  width: auto;
  height: 100%; }
  @media (min-width: 900px) {
    /* line 200, ../sass/style.scss */
    .background-video, .background-video img {
      height: auto;
      width: 100%; } }

/* line 219, ../sass/style.scss */
#secure, #share {
  background-image: url('../img/bg/kindajean_@2x.png?1359291727');
  background-size: 147px 147px; }

/* line 224, ../sass/style.scss */
.section-header {
  margin-top: 12px; }
  /* line 226, ../sass/style.scss */
  .section-header h1 {
    font-size: 40.8px;
    padding-bottom: 6px;
    border-bottom: 1px solid #442222;
    margin-bottom: 4px; }
    /* line 232, ../sass/style.scss */
    .section-header h1:after {
      content: "►";
      position: absolute;
      font-size: .5em;
      line-height: 36px;
      padding: 5px; }
  /* line 241, ../sass/style.scss */
  .section-header p {
    font-size: 1.2em;
    padding-top: 8px;
    line-height: 24px;
    font-style: italic;
    border-top: 1px dotted #442222; }

/* line 250, ../sass/style.scss */
.home-block {
  text-align: center;
  margin-bottom: 24px;
  padding-top: 24px; }
  @media (min-width: 500px) {
    /* line 250, ../sass/style.scss */
    .home-block {
      overflow: hidden;
      *zoom: 1; }
      /* line 256, ../sass/style.scss */
      .home-block img, .home-block p {
        width: 50%;
        float: left; }
      /* line 260, ../sass/style.scss */
      .home-block img {
        padding-left: 2em; }
      /* line 263, ../sass/style.scss */
      .home-block p {
        padding: 48px 0; } }
  @media (min-width: 900px) {
    /* line 269, ../sass/style.scss */
    .home-block img, .home-block p {
      width: auto;
      float: none;
      padding: 0; } }
  /* line 277, ../sass/style.scss */
  .home-block:before {
    content: "";
    position: absolute;
    width: 33%;
    top: 0;
    left: 33%;
    border-top: 1px solid #442222; }
    @media (min-width: 900px) {
      /* line 277, ../sass/style.scss */
      .home-block:before {
        width: 0;
        height: 33%;
        top: 33%;
        left: 0;
        border-left: 1px solid #442222; } }
  /* line 292, ../sass/style.scss */
  .home-block:first-child:before {
    display: none; }
  /* line 295, ../sass/style.scss */
  .home-block p {
    font-style: italic;
    margin-top: 24px; }
  /* line 299, ../sass/style.scss */
  .home-block img {
    height: 240px;
    width: auto; }

/* line 305, ../sass/style.scss */
.banner {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 24px;
  font-style: italic;
  color: white;
  background-color: #6699cc;
  padding: 12px 24px 12px 10px;
  -webkit-transform: translateX(120%);
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }
  /* line 316, ../sass/style.scss */
  .banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    border-top: 24px solid #6699cc;
    border-left: 24px solid transparent; }
  /* line 324, ../sass/style.scss */
  .banner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -24px;
    border-bottom: 24px solid #6699cc;
    border-left: 24px solid transparent; }

/* line 334, ../sass/style.scss */
.current .banner {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

/* line 339, ../sass/style.scss */
.site-footer {
  background-color: #444444;
  color: white;
  padding: 24px 0 48px; }

/* line 346, ../sass/style.scss */
.footer-form {
  float: left;
  min-width: 50%;
  margin-bottom: 24px; }
  /* line 349, ../sass/style.scss */
  .footer-form h3 {
    font-size: 16px;
    height: 24px; }
  /* line 353, ../sass/style.scss */
  .footer-form input {
    height: 24px;
    display: block;
    line-height: 24px;
    float: left;
    font-size: 12px; }
  /* line 361, ../sass/style.scss */
  .footer-form input[type="submit"] {
    border: none;
    background-color: #6699cc;
    color: white;
    padding: 0 10px;
    font-family: "ralewaybold", "Comic Sans MS", sans-serif;
    text-transform: uppercase;
    margin-left: 10px; }

/* line 373, ../sass/style.scss */
.footer-logo {
  float: right; }

/* line 377, ../sass/style.scss */
.footer-legal {
  clear: both;
  border-top: 2px solid #cccccc;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  line-height: 24px;
  font-size: 12px; }
  /* line 385, ../sass/style.scss */
  .footer-legal .contact {
    float: right; }
