/* line 17, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 28, ../sass/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  margin: 24px auto;
  max-width: 1200px; }

/* line 29, ../sass/_grid.scss */
.grid12 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid12 img {
    width: 100%; }
  @media (min-width: 800px) {
    /* line 29, ../sass/_grid.scss */
    .grid12 {
      width: 100%; } }

/* line 30, ../sass/_grid.scss */
.grid8 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid8 img {
    width: 100%; }
  @media (min-width: 800px) {
    /* line 30, ../sass/_grid.scss */
    .grid8 {
      width: 66.66667%; } }

/* line 31, ../sass/_grid.scss */
.grid6 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid6 img {
    width: 100%; }
  @media (min-width: 800px) {
    /* line 31, ../sass/_grid.scss */
    .grid6 {
      width: 50%; } }

/* line 32, ../sass/_grid.scss */
.grid4 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid4 img {
    width: 100%; }
  @media (min-width: 800px) {
    /* line 32, ../sass/_grid.scss */
    .grid4 {
      width: 33.33333%; } }

/* line 33, ../sass/_grid.scss */
.grid3 {
  float: left;
  padding: 0.5em 10px;
  width: 100%; }
  /* line 11, ../sass/_grid.scss */
  .grid3 img {
    width: 100%; }
  @media (min-width: 400px) {
    /* line 33, ../sass/_grid.scss */
    .grid3 {
      width: 50%; } }
  @media (min-width: 800px) {
    /* line 33, ../sass/_grid.scss */
    .grid3 {
      width: 25%; } }

/* line 36, ../sass/_grid.scss */
.grid12.right-float, .grid8.right-float, .grid6.right-float, .grid4.right-float, .grid3.right-float {
  float: right; }

/* line 40, ../sass/_grid.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 24px 10px; }

/* line 25, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

/* line 30, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit; }

/* line 35, ../sass/style.scss */
input {
  margin: 0; }

/* line 39, ../sass/style.scss */
html {
  font-size: 16px;
  line-height: 24px;
  font-family: "Georgia", serif;
  color: #442222;
  padding-top: 72px; }

/* line 47, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1; }

/* line 55, ../sass/style.scss */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 10; }
  /* line 62, ../sass/style.scss */
  .site-header:before {
    content: "";
    background-color: #6699cc;
    height: 24px;
    display: block;
    border-bottom: 4px solid #442222; }

/* line 71, ../sass/style.scss */
.header-logo {
  float: left; }

/* line 75, ../sass/style.scss */
.site-nav {
  float: right; }

/* line 80, ../sass/style.scss */
.home-block img {
  height: 240px; }

/* line 86, ../sass/style.scss */
.site-footer {
  background-color: black;
  color: white; }

/* line 92, ../sass/style.scss */
.footer-form {
  float: left; }

/* line 96, ../sass/style.scss */
.footer-logo {
  float: right; }

/* line 100, ../sass/style.scss */
.footer-legal {
  clear: both; }
  /* line 102, ../sass/style.scss */
  .footer-legal .contact {
    float: right; }
