* {
  @include box-sizing(border-box);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

input{
  margin: 0;
}

html {
  font-size: $font-size;
  line-height: $line;
  font-family: $body-font;
  color: $text-color;
  padding-top: $header-height - $line;
  // to prevent abrupt quality changes during transition:
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
  font-family: $header-font;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

h1{
  font-size: $line * 2;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}

@mixin animation($string){
  -webkit-animation: $string;
  -moz-animation:    $string;
  -o-animation:      $string;
  animation:         $string;
}

@mixin keyframes($name){
  @-webkit-keyframes $name {
    @content;
  }
  @-moz-keyframes $name {
    @content;
  }
  @-o-keyframes $name {
    @content;
  }
  @keyframes $name {
    @content;
  }
}

.subheader{
  font-family: $body-font;
  text-transform: none;
  font-style: italic;
  font-size: $line* 1.2;
  line-height: $line * 2;
}

%jean-background {
  background-image: image-url('bg/kindajean.png');
  background-size: 147px 147px;
}

%page-section {
  padding: $header-height 0 ($line * 2);
  border-bottom: 2px solid $light-border;
}

.grid-block {
  @extend .grid4;
  text-align: center;
  margin-bottom: $line;
  padding-top: $line;
  p{
    font-style: italic;
    margin-top: $line;
  }
  img{
    width: 225px;
    height: auto;
  }
  @media (min-width: $tablet){
    @include clearfix;
    .image-container,p{
      width: 50%;
      float: left;
    }
    .image-container{
      padding-left: 2em;
      height: $line * 8;
      margin: $line 0;
      img{
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -112px;
      }
    }
    p {
      width: 50%;
      padding: $line * 2 0;
    }
  }
  @media (min-width: $desktop){
    .image-container,p{
      width: auto;
      float: none;
      padding: 0;
    }
  }
}

.page-header, .page-content{
  @extend %page-section;
}

.page-content{
  @extend %jean-background;
}