// floating elements
.page-nav{
  position: fixed;
  width: $line * 2;
  right: 0;
  top: 50%;
  z-index: 10;
  background-color: $translucent;
  a {
    background-image: image-url('nav-arrows.png');
    background-repeat: no-repeat;
    background-size: $line* 1.5 $line *4;
    width: $line * 2;
    height: $line;
    display: block;
    margin: $line/2 $line/4;
  }
  #prev-section{
    background-position: 0 0;
  }
  #next-section{
    background-position: 0 -30px;
  }
  #back-to-top{
    background-position: 0 -55px;
    height: $line* 2;
  }
}

// sections
.home-section{
  @extend %page-section;
  overflow: hidden;
}

.section-header{
  margin-top: $line;
  h1{
    font-size: 1.7* $line;
    $line-height: $line * 2;
    padding-bottom: $line /4;
    border-bottom: 1px solid $text-color;
    margin-bottom: $line /4 - 2px;
    &:after{
      content:"►";
      position: absolute;
      font-size: .5em;
      line-height: $line * 1.5;
      padding: $gtr/2;

    }
  }
  p{
    font-size: 1.2em;
    padding-top: $line/3;
    line-height: $line;
    font-style: italic;
    border-top: 1px dotted $text-color;
  }
}

.home-block{
  @extend .grid-block;

  @media (min-width: $tablet){
    .image-container, img{
      height: 225px;
    }
  }

  // divider lines
  &:before{
    content: "";
    position: absolute;
    width: 33%;
    top: 0;
    left: 33%;
    border-top: 1px solid $text-color;
    @media (min-width: $desktop){
      width: 0;
      height: 33%;
      top: 33%;
      left: 0;
      border-left: 1px solid $text-color;
    }
  }
  &:first-child:before{
    display: none;
  }
}

.banner{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: $line;
  font-style: italic;
  color: white;
  background-color: $blue;
  padding: $line/2 $line $line/2 $gtr;
  @include translateX(120%);
  @include transition(transform 1s);
  &:before, &:after{
    content: "";
    position: absolute;
    left: -$line;
    border-left: $line solid transparent;
  }
  &:before{
    top: 0;
    border-top: $line solid $blue;
  }
  &:after{
    bottom: 0;
    border-bottom: $line solid $blue;
  }
}

.current .banner{
  @include translateX(0%);
}

// persistent sign-up footer

.signup-footer {
  background-image: image-url('signup-footer.png');
  background-position: left top;
  background-repeat: repeat-x;
  text-transform: uppercase;
  color: white;
  font-family: $header-font;
  font-size: 24px;
  padding-top: 25px;
  text-align: center;
  position: fixed;
  top: 660px;
  width: 100%;
  z-index: 99;
  height: 60px;
  @include transition(all .25s);
  &.bottom{
    top: 100%;
    margin-top: -60px;
  }
}

// hero

#hero{
  padding: $line * 2 0 $line * 3;
  background-color: $footer-dark;
  background-size: cover;
}

.background-video, .background-video img{
  overflow: hidden;
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  @media (min-width: $desktop){
    height: auto;
    width: 100%;
    min-width: 1200px;
  }
}

.hero-image{
  @extend .grid6;
  float: right;
  z-index: 1;
  height: 480px;

  img, .image-container{
    position: absolute;
    top: 0;
    height: 480px;
    width: 480px;
  }

  .image-container{
    left: 0;
    left: 50%;
    margin-left: -240px;
  }

}

.hero-text-container{
  @extend .grid6;
  float: right;
  margin-top: -$line * 2;
  @media (min-width: $desktop) {
    margin-top: $line * 8;
    @include translateX(15%);
    overflow: hidden;
  }

  .hero-text{
    @include translateX(100%);
    @include transition(transform 1s false 1s);
    background-color: $translucent;
    padding: $line/2 0;
    text-align: center;
    &.active{
      @include translateX(0%);
    }
  }
}

.hero-signup-button{
  background-image: image-url('png/hero/free_trial_ribbon.png');
  background-repeat: no-repeat;
  color: white;
  display: block;
  position: absolute;
  left: 20px;
  top: 170px;
  @include rotate(-10deg);
  font-family: $header-font;
  font-size: 21px;
  text-align: center;
  width: 250px;
  height: 45px;
  padding: 10px 0;
  text-transform: uppercase;
  opacity: 0;
  @include transition(all .2s ease-in-out);
}

.hero-signup-button.active{
  opacity: .9;
}

.hero-signup-button:hover{
  opacity: 1;
}

#secure, #share {
  @extend %jean-background;
}

// animations below

@include keyframes(bounce) {
  0%, 25% {
    @include translateY(20px);
  }
  50% {
    @include translateY(-20px);
  }
  100% {
    @include translateY(0px);
  }
}

@mixin shadowizer($item-distance, $item-width){
  $width-coefficient: 50;
  $opacity-coefficient: 50;
  $shadow-width: $item-width + ($item-distance * $width-coefficient)/100;
  width: $shadow-width;
  margin-left: -($shadow-width/2);
  opacity: .5 - ($item-distance * $opacity-coefficient)/10000px;
}

@include keyframes(slow-bounce) {
  0%, 50%{
    @include translateY(20px);
  }
  75% {
    @include translateY(-10px);
  }
  100% {
    @include translateY(0px);
  }
}
@include keyframes(shadows) {
  0%, 50%{
    @include shadowizer(0px, 11px);
  }
  75% {
    @include shadowizer(40px, 11px);
  }
  100% {
    @include shadowizer(20px, 11px);
  }
}

#hero-cloud{
  @include animation(bounce 3s);
}

.hero-ipad{
  @include animation(slow-bounce 2.5s);
}

.hero-computer{
  margin-top: -14px;
}

.hero-iphone{
  @include animation(slow-bounce 3s);
}

.shadow{
  @include animation(shadows 3s);
  @include shadowizer(20px, 11px);
  position: absolute;
  top:195px;
  left: 63px;
  box-shadow: 0 0 10px 4px #666;
}

// secure
#secure .private img{
  @include transition(transform 1s);
}
#private-curtain1{
  @include transform-origin($line);
}
#private-curtain2 {
  margin-left: -$line - 7px;
  @include transform-origin(53%);
}
#private-curtain1, #private-curtain2{
  @include transform(scaleX(.5));
}

#private-hook1{
  @include translateX(-6%);
}
#private-hook2 {
  margin-left: -$line*4 + 6px;
  @include translateX(-12%);
}
#private-hook3 {
  margin-left: -$line*3 + 5px;
  @include translateX(-18%);
}
#private-hook4 {
  margin-left: -$line - 8px;
  @include translateX(18%);
}
#private-hook5 {
  margin-left:  - 8px;
  @include translateX(12%);
}
#private-hook6 {
  margin-left: $line - 8px;
  @include translateX(6%);
}

.current {
  #private-curtain1, #private-curtain2{
    @include transform(scaleX(1));
  }

  #private-hook1, #private-hook2, #private-hook3,
  #private-hook4, #private-hook5, #private-hook6 {
    @include translateX(0%);
  }
}

#secure-lock{
  @include transition(transform .5s false .5s);
  @include translateY(-25px);
}

.current #secure-lock {
  @include translateY(0);
}

@include keyframes(clockspin) {
  25% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(1440deg);
  }
}
@include keyframes(clicker) {
  20%, 30%, 90% {
    @include translate(0px,0px);
  }
  25%, 95% {
    @include translate(-6px, 6px);
  }
}

#efficient-hand {
  @include transform-origin(50%, 149px);
}

.current #efficient-hand {
  @include animation(clockspin 3s linear);
}

.current #efficient-clicker{
  @include animation(clicker 3s);
}

// access
// [animations done with JS]

.reloading-gif{
  display: none;
}


// share

#lower-mask, #upper-mask{
  position: absolute;
  height: 57px;
  width: 114px;
  overflow: hidden;
  // border: 1px solid red;
  img{
    position: absolute;
    height: auto;
    width: auto;
    // height: 100%;
    // width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
  }
}

#upper-mask{
  top: 16px;
  left: 116px;
  .share-car{
    @include transition(transform 2s false 1s);
    @include translateX(-100%);
  }
}

#lower-mask{
  top: 151px;
  left: 69px;
  .share-car{
    @include transition(transform 2s);
  }
}


.current{
  #upper-mask .share-car{
    @include translateX(0);
  }
  #lower-mask .share-car{
    @include translateX(100%);
  }
}

@include keyframes(remote) {
  0%, 30%, 70%, 100%{
    @include translateY(0);
  }
  15%, 85%{
    @include translateY(-3px);
  }
}

.current #control-button{
  @include animation(remote 1s linear 2s);
}

.collect-cd{
  @include transition(transform 1s);
  @include translateY(-300px);
}

.cd-1{@include transition-delay(2s);}
.cd-2{@include transition-delay(2.3s);}
.cd-3{@include transition-delay(2.6s);}
.cd-4{@include transition-delay(3s);}


.home-block .image-container{
  .cd-2, .cd-4{
    margin-left: -16px;
  }
  .cd-3, .cd-4{
    margin-top: -61px;
  }
}

.current .collect-cd{
  @include translateY(0px);
}