// sections
.home-section{
  @extend %page-section;
  overflow: hidden;
  .section-header{
    padding-right: 150px;
  }
}

.section-header{
  @extend .container;
  h1{
    font-size: 1.7* $line;
    $line-height: $line * 2;
    padding-bottom: $line /4;
    border-bottom: 1px solid $text-color;
    margin-bottom: $line /4 - 2px;
    &:after{
      content:"►";
      position: absolute;
      font-size: .5em;
      line-height: $line * 1.5;
      padding: $gtr/2;

    }
  }
  p{
    font-size: 1.2em;
    padding-top: $line/3;
    line-height: $line;
    font-style: italic;
    border-top: 1px dotted $text-color;
  }
  .signup-stamp{
    position: absolute;
    top: $line/2 + 1px;
    right: 0;
    opacity: 0;
    @include transition(all 1s ease-out 2s);
    height: 120px;
    width: 120px;
    @include scale(.5, .5);
  }
}

.current .signup-stamp{
  opacity: 1;
  @include scale(1,1);
}

.home-block{
  @extend .grid-block;

  @media (min-width: $tablet){
    .image-container, img{
      height: 225px;
    }
  }

  // divider lines
  &:before{
    content: "";
    position: absolute;
    width: 33%;
    top: 0;
    left: 33%;
    border-top: 1px solid $text-color;
    @media (min-width: $desktop){
      width: 0;
      height: 33%;
      top: 33%;
      left: 0;
      border-left: 1px solid $text-color;
    }
  }
  &:first-child:before{
    display: none;
  }
}

%bottom-tab{
  background-repeat: no-repeat;
  position: fixed;
  bottom: -35px;
  left: 50%;
  margin-left: -43px;
  width: 86px;
  height: 70px;
  cursor: pointer;
  @include transform(rotateX(180deg));
  @include transition(transform 1s);
  @include backface-visibility( hidden );
  z-index: 100;
  opacity: .6;
  &.sticky{
    position: absolute;
  }
}

.next-tab{
  @extend %bottom-tab;
  background-image: image-url('nav_down_gray.png');
  &.white{
    background-image: image-url('nav_down_white.png');
  }
}

.back-to-top{
  @extend %bottom-tab;
  background-image: image-url('nav_up_gray.png');
}

.current{
  .next-tab, .back-to-top{
    @include transform(rotateX(0));
  }
}

// hero

#hero{
  margin: 0;
  padding: 0;
  $experimental-support-for-svg: true;
  @include background(linear-gradient(#fff 50%, #ccc));
  background-size: cover;

  .row{
    @media (min-width: $desktop){
      top: 50%;
      margin-top: -200px;
    }
  }
}

.hero-image{
  position: absolute;
  z-index: 1;
  width: 100%;
  top: $header-height;
  @media (min-width: $desktop){
    top: 50%;
    margin-top: -240px;
    left: 50%;
    margin-left: - $desktop/2;
  }
  @extend .container;
  img{
    position: absolute;
  }
}

.hero-spacer{
  @extend .grid6;
  float: right;
  height: 480px;
}

.hero-tv{
  top: 0;
  right: 0;
  @include translate(0, -2000px);
  @include transition(.7s ease-in);
}

.hero-ipad{
  top: $line * 4;
  right:385px;
  @include translate(0, 2000px);
  @include transition(.7s ease-in .2s);
}

.hero-iphone{
  top: $line * 9;
  right: 520px;
  @include translate(0, -2000px);
  @include transition(.7s ease-in .5s);
}

.hero-macbook{
  top: $line * 6;
  right: 110px;
  @include translate(0, 2000px);
  @include transition(.7s ease-in .7s);
}

.active{
  .hero-image img{
    @include translate(0,0);
  }
}

.hero-text-container{
  @extend .grid6;
  float: right;
  padding: 15px 0;
  @media (min-width: $desktop) {
    position: absolute;
    left: 0;
    top: $line/2;
    width: 530px;
    padding-bottom: $line * 10;
    padding-right: 50px;
    overflow: hidden;
  }
  .hero-text{
    text-align: center;
    width: 300px;
    margin-bottom: $line/2;

    .subheader{
      font-size: $line - 2px;
      line-height: $line;
      margin: 0 auto $line/3 auto;
    }
    h1{
      font-size: $line * 1.6;
      margin-bottom: 4px;
    }
    .sub-subheader{
      font-size: $font-size;
      font-weight: normal;
      margin: $line/2 0;
    }
  }

  hr{
    border-style: solid none dotted none;
    border-color: $text-color;
    border-width: 1px;
    height: 4px;
    margin: $line/2 0 $line;
  }
}

#secure, #share {
  @extend %jean-background;
}

.hero-signup-button{
  @extend .signup-button;
  padding-top: 7px;
  padding-left: 15px;
  font-size: 15px;
  background-image: image-url('request_invite_button_header.png');
  display: inline-block;
  height: 40px;
  width: 215px;
  box-shadow: 0 $line * 2.5 70px -10px #bbb,
    0 $line * 6 50px -17px $blue;
}

.body-signup-button {
  @extend .signup-button;
  background-image: image-url('request_invite_button_pricing.png');
  font-size: 23px;
  padding: 17px 14px;
  display: block;
  height: 59px;
  width: 316px;
  margin: $line auto $line*2;
}

// Pricing

#pricing {
  padding-bottom: $line*2.5;
}

#pricing .section-header {
  padding-right: 0;
}

.pricing-block {
  @extend .grid3;

  text-align: center;

  h1,.space,.price{
    border: 2px solid $light-border;
    margin-bottom: 0;
  }

  h1 {
    font-size: 32px;
    padding: $line 0;
    background-color: $text-color;
    color: white;
    margin-top: $line/2;
  }

  .space, .price{
    background: $pricing-color;
    border-top-style: none;
  }

  .space{
    font-family: $light-font;
    font-weight: lighter;
    padding: $line/2 0;
  }

  .separator{
    display: block;
    background-color:  $pricing-color;
    font-family: $body-font;
    font-weight: bold;
    font-style: italic;
    margin: 0 $gtr;
    &:before, &:after{
      content: "";
      border-bottom: 1px dotted $text-color;
      position: absolute;
      width: 40%;
      top: 50%;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }

  p {
    line-height: 1;
    margin: 0 $gtr;

    &:first-child {
      font-size: 38px;
      font-style: italic;
      font-weight: bold;
      padding: $line 0 $line/3;

      sup {
        font-size: 65%;
        vertical-align: $line/3;
      }
    }


    span{
      font-size: 22px;
      font-weight: normal;
    }
  }

  p + p {
    color: #888;
    font-family: $light-font;
    font-size: $font-size*.9;
    padding: $line/3 0;
  }

  p + p + p {
    color: #ccc;
  }
}

.pricing-block-best{
  @extend .pricing-block;
  h1{
    margin-top: 0;
    background-color: $blue;
  }
  .space{
    padding-bottom: $line;
  }
  .price{
    padding-bottom: $line/2;
  }
}

// animations below

@mixin shadowizer($item-distance, $item-width){
  $width-coefficient: 50;
  $opacity-coefficient: 50;
  $shadow-width: $item-width + ($item-distance * $width-coefficient)/100;
  width: $shadow-width;
  margin-left: -($shadow-width/2);
  opacity: .5 - ($item-distance * $opacity-coefficient)/10000px;
}


// secure
#secure .private img{
  @include transition(transform 2s);
}
#private-curtain1{
  @include transform-origin($line);
}
#private-curtain2 {
  margin-left: -$line - 7px;
  @include transform-origin(53%);
}
#private-curtain1, #private-curtain2{
  @include transform(scaleX(.5));
}

#private-hook1{
  @include translateX(-6%);
}
#private-hook2 {
  margin-left: -$line*4 + 6px;
  @include translateX(-12%);
}
#private-hook3 {
  margin-left: -$line*3 + 5px;
  @include translateX(-18%);
}
#private-hook4 {
  margin-left: -$line - 8px;
  @include translateX(18%);
}
#private-hook5 {
  margin-left:  - 8px;
  @include translateX(12%);
}
#private-hook6 {
  margin-left: $line - 8px;
  @include translateX(6%);
}

.current {
  #private-curtain1, #private-curtain2{
    @include transform(scaleX(1));
  }

  #private-hook1, #private-hook2, #private-hook3,
  #private-hook4, #private-hook5, #private-hook6 {
    @include translateX(0%);
  }
}

#secure-lock{
  @include transition(transform 1s false 1s);
  @include translateY(-25px);
}

.current #secure-lock {
  @include translateY(0);
}

@include keyframes(clockspin) {
  25% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(1440deg);
  }
}
@include keyframes(clicker) {
  20%, 30%, 90% {
    @include translate(0px,0px);
  }
  25%, 95% {
    @include translate(-6px, 6px);
  }
}

#efficient-hand {
  @include transform-origin(50%, 149px);
}

.current #efficient-hand {
  @include animation(clockspin 3s linear 1s);
}

.current #efficient-clicker{
  @include animation(clicker 3s false 1s);
}

// access
// [animations done with JS]

.reloading-gif{
  display: none;
}


// share

#lower-mask, #upper-mask{
  position: absolute;
  height: 57px;
  width: 114px;
  overflow: hidden;
  // border: 1px solid red;
  img{
    position: absolute;
    height: auto;
    width: auto;
    // height: 100%;
    // width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
  }
}

#upper-mask{
  top: 16px;
  left: 116px;
  .share-car{
    @include transition(transform 1.5s false 3s);
    @include translateX(-100%);
  }
}

#lower-mask{
  top: 151px;
  left: 69px;
  .share-car{
    @include transition(transform 1.5s false 2s);
  }
}


.current{
  #upper-mask .share-car{
    @include translateX(0);
  }
  #lower-mask .share-car{
    @include translateX(100%);
  }
}

@include keyframes(remote) {
  0%, 30%, 70%, 100%{
    @include translateY(0);
  }
  15%, 85%{
    @include translateY(-3px);
  }
}

.current #control-button{
  @include animation(remote 1s linear 2s);
}

.collect-cd{
  @include transition(transform 1s);
  @include translateY(-300px);
}

.cd-1{@include transition-delay(0s);}
.cd-2{@include transition-delay(.3s);}
.cd-3{@include transition-delay(.6s);}
.cd-4{@include transition-delay(1s);}


.home-block .image-container{
  .cd-2, .cd-4{
    margin-left: -16px;
  }
  .cd-3, .cd-4{
    margin-top: -61px;
  }
}

.current .collect-cd{
  @include translateY(0px);
}