body {
  &:before{
    position: fixed;
    width: 100%;
    top: 0;
    content: "";
    background-color: $blue;
    height: 4px;
    display: block;
    z-index: 11;
  }
}

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding-top: $line/2 + 4px;
  z-index: 10;
  background-color: $header-light;
  border-bottom: 2px solid $light-border;
  @include transition(transform .5s);
  &.condensed{
    @include translateY(-$line + 2px);
  }
}

.header-logo{
  margin-top: -$line;
  float: left;
  img{ height: 90px; }
}

.site-nav{
  font-weight: lighter;
  float: right;
  font-family: $light-font;
  text-transform: uppercase;
  display: none;
  @media (min-width: $desktop){
    display: block;
  }
  a{
    display: inline-block;
    padding: 0 $line/2 ($line/2 - 2px);
    line-height: 1;
    &.current{
      color: $blue;
      border-bottom: 2px solid $text-color;
    }
  }
}

.login{
  position: absolute;
  top: -$line /2 - 2px;
  right: 34px;
  font-family: $header-font;
  font-size: $small-text;
  text-transform: uppercase;
  background-color: $blue;
  color: white;
  padding: 0 $gtr;
}