.pricing-content{
  margin-top: $header-height;  

  .section-header {
    h1 {
      font-size: 46px;
      
      &:after {
        display: none;
      }
    }

    h2 {
      font-size: 38px;
    }
  }

}

.passport-etc{
  @extend .row;
  margin-top: $line/3;
  margin-bottom: $line*3;

  img {
    display: block;
    margin: 0 auto;
  }

  h2 {
    @extend .subheader;
    font-size: $line * 1.1;
    margin-top: $line/2;
  }

  p{
    font-style: italic;
    line-height: $line*1.1;
  }

  .div p {
    font-size: 16px;
  }

  li{
    padding: 0 $gtr;
    margin: $line/2 $gtr;
    font-family: $light-font;
    font-weight: lighter;
    font-size: 14px;
    &:before{
      content: "•";
      font-family: $header-font;
      position: absolute;
      right: 100%;
    }
  }
}

