.rights-header {
  @extend .page-header;
  @include background(linear-gradient(#fff, #aaa));
  padding-top: 60px;
  text-align: center;
  color: white;

  .container {
    background-image: image-url('rights/banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    padding: 90px 0 70px;
  }

  .subheader {
    font-size: 43px;
  }

  h1 {
    font-size: 64px;
  }
}

.rights-content {
  @extend .page-content;
  padding-top: 10px;
}