.rights-header {
  @extend .page-header;
  background-image: image-url('rights/banner.png');
  background-repeat: no-repeat;
  background-position: center 50px;
  padding: 120px 0 85px 75px;
  padding-bottom: 85px;
  color: white;
  .subheader {
    font-size: 43px;
  }

  h1 {
    font-size: 64px;
  }
}

.rights-content {
  @extend .page-content;
  padding-top: 10px;
}