@import "compass";
@import "compass/reset";

@import "font";

$font-size: 16px;
$small-text: 12px;
$line: $font-size * 1.5;
$gtr: 10px;

$header-height: $line * 3;

$tablet: 500px;
$desktop: 960px;

$body-font: "Georgia", serif;
$header-font: "ralewayextrabold", sans-serif;
$light-font: sans-serif;

$text-color: #4b4d4d;
$blue: #65bbe2;
$yellow: #ff6;
$green: #6f6;
$light-border: #c1c1c1;
$header-light: #f5f6f6;
$footer-dark: #444;
$translucent: rgba(255,255,255,.9);
$pricing-color: #f7f9f9;

@import 'grid';
@import 'base';
@import 'header';
@import 'footer';

@import 'front_page';
@import 'rights';
@import 'features';