@import "compass";
@import "compass/reset";

$font-size: 16px;
$small-text: 12px;
$line: $font-size * 1.5;
$gtr: 10px;

$tablet: 400px;
$desktop: 800px;
$widescreen: 1200px;

$body-font: "Georgia", serif;
$header-font: sans-serif;

$text-color: #222;

@import 'grid';

* {
  @include box-sizing(border-box);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: $font-size;
  line-height: $line;
  font-family: $body-font;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6{
  font-family: $header-font;
  line-height: 1;
}